// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Global

body {
    margin: 3rem 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: hsl(224, 89%, 60%);
}

h1, h2, p {
    margin: 0;  
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

// Layout

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

.grid {
    max-width: 1024px;
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
}

// Navigation

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    font-weight: 600;

    &__wrapper {
        @media screen and (max-width: 767px) {
            position: fixed;
            top: 3rem;
            right: -100%;
            width: 80%;
            height: 100%;
            padding: 2rem;
            background-color: hsl(224, 56%, 12%);
            transition: .5s;
        }
    }

    &__item {
        margin-bottom: 2rem;
    }

    &__link {
        position: relative;
        color: #fff;

        &:hover {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 0.18rem;
                left: 0;
                top: 2rem;
                background-color: hsl(224, 89%, 60%);
            }
        }
    }

    &__logo {
        color: hsl(224, 56%, 12%);
    }
    
    &__toggle {
        color: hsl(224, 56%, 12%);
        font-size: 1.5rem;
        cursor: pointer;
    }
}

// Home 

.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;

    &__data{
        align-self: center;
    }
    &__title{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;

        &-color{
            color: hsl(224, 89%, 60%);
        }
    }
    &__social{
        display: flex;
        flex-direction: column;
        &-icon{
            width: max-content;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: hsl(224, 56%, 12%);

            &:hover{
                color: hsl(224, 56%, 12%);
            }
        }
    }

    &__img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 260px;
    }
    &__blob{
        fill: hsl(224, 89%, 60%);

        &-img{
            width: 360px;
        }
    }
}